
#carousel.jcarousel-skin-tango
  %ul
    %li= image_tag '4_4_2.jpg'
    %li= image_tag '4_3_3.jpg'
    %li= image_tag '4_5_1.jpg'
    %li= image_tag '5_4_1.jpg'



:javascript
  jQuery(document).ready(function() {
      jQuery('#carousel').jcarousel();
  });