%h3=t('menus.dashboard.titulo')
- HomeHelper::ACC_DASHBOARD.each do |fila|
  .fila
    - fila.each do |columna|
      .columna.span2
        = link_to t("menus.dashboard.#{columna}.tit"), dashboard_action(columna), :class => 'btn', :title=> t("menus.dashboard.#{columna}.alt")