- if @jugadores.present?
  %h1= t('mercado.buscar.resultados')
  %table.table.table-condensed
    %thead
      %tr
        %th aaaaa
    %tbody
      - @jugadores.each do |jugador|
        %tr
          %td= jugador.nombre