%div.position-field.banco-portero
  - @porteros.each do |jugador|
    = render :partial => "selecciones/jugador_banquillo", :locals => {:jugador => jugador, :position_field => "port"}
  .clear

%div.position-field.banco-defensa
  - @defensas.each do |jugador|
    = render :partial => "selecciones/jugador_banquillo", :locals => {:jugador => jugador, :position_field => "def"}
  .clear

%div.position-field.banco-medio
  - @medios.each do |jugador|
    = render :partial => "selecciones/jugador_banquillo", :locals => {:jugador => jugador, :position_field => "med"}
  .clear

%div.position-field.banco-delantero
  - @delanteros.each do |jugador|
    = render :partial => "selecciones/jugador_banquillo", :locals => {:jugador => jugador, :position_field => "del"}
  .clear
