%div.jugador-alineacion.anadir{:id => jugador.id, :class => position_field}
  %div{:style => escudo_equipo(jugador.equipo.nombre)}
    %p.dorsal= jugador.dorsal
  %div
    %span{:id=>"delete_#{jugador.id}",:class=> "remove-titular icon-remove", :style => "display:none"}
    %p.name= jugador.nombre