.nav.derecha{
  float: right;
}
.content {
  background-color: #B0C0CF;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

}

.modal-header{
  background-image: linear-gradient(to bottom, #057D9F, #025167);
  background-color: #61B7CF;
  color: #FFFFFF
}

.modal-footer{
  background-color: #FFBA73;
}

#central{
  float: left;
}

#lateral{
  float: right;
  background-color: #FFFFFF;
  padding: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px #025167;
  -moz-box-shadow: 0 1px 2px #025167;
  box-shadow: 0 1px 2px #025167;

  font-size: 80%;
}

.clearfix {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear{
  clear: both;
}

table{
  tr{
    td.derecha{
      text-align: right;
    }
  }
}


.center{
  text-align: center ;
  margin-left: auto ;
  margin-right: auto ;
}