// Place all the styles related to the seleccion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.radios{
  border: 1px solid #FFFFFF;
  padding-top: 10px;
  padding-left: 10px;
  label{
    display: inline-block;
  }
}

#once-titular{
  float:left;
  margin-left:150px;
  strong{
    text-align:center;
    margin-left: 40px;
  }
}


.position-field{
  background-image: linear-gradient(to bottom, #057D9F, #025167);
  background-image: -moz-linear-gradient(center top , #025167, #057D9F);
  border-radius: 4px 4px 4px 4px;
  border-width: 0;
  color: #FFFFFF;
  padding-left: 3px;
  margin-top:4px;
}

.jugador-alineacion {
  float:left;
  width: 40px;
  margin-right: 35px;
  margin-top:4px;
  .dorsal{
    width: 25px;
    height: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 9px 12px 4px 4px;
    padding-top: 6px;
    text-align:center;
  }
}
