// Place all the styles related to the seleccion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.radios{
  border: 1px solid #FFFFFF;
  padding-top: 10px;
  padding-left: 10px;
  label{
    display: inline-block;
  }
}

#plantilla {
  ul {
    float: left;
    li {
      list-style-type: none;
    }
  }
}