// Place all the styles related to the seleccion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.radios{
  border: 1px solid #FFFFFF;
  padding-top: 10px;
  padding-left: 10px;
  label{
    display: inline-block;
  }
}

#plantilla {
  ul {
    float:left;
    li {
      display: inline-block;
      list-style-type: none;
      margin-top: 2px;
      &.cabecera {
        color: #FFF;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
  .jugador {
    p.name {
      font-weight: bold;
    }
    p.dorsal {
      font-size: 25px;
      margin-left: 3px;
    }
  }
}

#once-titular {
  ul {
    li {
      display: inline-block;
      margin-left:10px;
      list-style-type: none;
      margin-top: 2px;
      coursor: pointer;
      &.titular {
        p.name {
          font-weight: bold;
        }
        p.dorsal {
          font-size: 25px;
          margin-left: 3px;
        }
      }
    }
  }
  float: left;
}