#datos.modal.fade.out
  .modal-header
    %li.close.icon-white.icon-remove
    %h2= @jugador.nombre
  .modal-body
    %p sddcscs
  .modal-footer
    = link_to t('mercado.negociar.aceptar'), '#', :class => 'btn btn-success btn-medium cerrar'

